/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2015, 7:40:07 PM
    Author     : miraj
*/

/*
html, body {
  width: 100%;
  height: 100%;
}

.bg-img {
        width: 100%;
        height:100%;
        background: -moz-linear-gradient(top, rgba(0,0 , 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 70%), url('UCLA.jpg') repeat 0 0;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.7))), url('UCLA.jpg') repeat 0 0;

        background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('UCLA.jpg') repeat 0 0;
        //background-image: url('UCLA.jpg');
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        opacity:.5; 
    }
    
    #Items{
       // background-color: white;
        
    }
*/
body {
    color: white;
     background: url(UCLA.jpg);
     background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
/*body {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        height: 100%;
         background: url(UCLA.jpg);
          background-attachment: fixed;
         background-size: cover;
    }
    body:before {
        content: "";
        position: absolute;
        //height: 20%; width: 20%;
        //background: url(UCLA.jpg);
        background-size: cover;
        z-index: -1; 
        
        -webkit-transform: scale(5);
        -webkit-transform-origin: top left;
        -webkit-filter: blur(1px);
    }*/
                        
			.divWholePage {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
                                
                               
				height: 100%;
				width: 100%;
				position: absolute;
				right: 0;
				
                                 
				
				
				
				}
			.divSection {
                                
				display: table;
				width: 100%;
				min-height: 50%;
				height: 100%;
				z-index: 0;
                                background-color:rgba(0,0,0,0.5);
				}
			.divRandomText {
                                padding-top: 3%;
				font-family: "Average";
				font-size: 24px;
				line-height: 130%;
				//padding: 15%;
				display: table-cell;
				vertical-align: middle;
                                
				}
			.divBackgroundImage {
                                
				//opacity: .5;
				}
			.imgBackground {
				float: left;
				}
                        .displayleft{
                                float: left;
                                max-width: 30%;
                                min-width: 10%;
                        }
                        .displayright{
                                padding-left: 18%;
                                float: left;
                                max-width: 55%;
                                z-index: 25;
                        }
                        .tabledisplay {
                            //background-color:rgba(255,255,255,0.4);
                            background-color:rgba(0,0,0,0.5);
                        }
                        table td{
                            padding: 10px 10px 0px 10px;
                            z-index: 25;
                        }
                        
                        table{
                            color: whitesmoke;
                        }
                        
                        .links a{
                            //color: #0060B6;
                            color: navy;
                            text-decoration: none;
                        }
                        
                        .displaycenter{
                            position: absolute;
                            left: 40%;
                            top: 50%;
                        }
                        .tsearch{
                            padding: 20px;
                            //border: solid 5px #c9c9c9;
                            background-color:rgba(0,0,0,0.5);
                            //box-shadow: inset 0 0 0 2px #707070;
                            transition: box-shadow 0.3s, border 0.3s;

                        }
                       
                    .textbox { 
                        border: 1px solid #848484; 
                        -webkit-border-radius: 30px; 
                        -moz-border-radius: 30px; 
                        border-radius: 30px; 
                        outline:0; 
                        height:25px; 
                        width: 205px; 
                        padding-left:10px; 
                        padding-right:10px; 
                      } 
                      .displayright a{
                          text-decoration: none; 
                          //color: navy;
                          
                      }
                      .header{
                          top:0;
                          left: 0;
                          padding-left: 50%;
                          width: 100%;
                      }
		.flat-table {
		margin-bottom: 20px;
		border-collapse:collapse;
		font-family: 'Lato', Calibri, Arial, sans-serif;
		border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
	}
	.flat-table th, .flat-table td {
		box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
			inset 0 1px rgba(0,0,0,0.25);
	}